[submodule "vendor/twig"]
	path = vendor/twig
	url = https://github.com/fabpot/Twig
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "vendor/Symfony/Component/Validator"]
	path = vendor/Symfony/Component/Validator
	url = https://github.com/symfony/Validator.git
